extends ../layout/layout

block content
  h1 Kerry
  span.sub-name Risk Wang
  .contact-details
    p Front-End Developer 
    p 
      b Email : 
      | rwang@thoughtworks.com
    p
      b Phone : 
      | 13426399993  
