<% layout('/layout/layout.ejs') %>

<h1>Kerry</h1>
<span class="sub-name">Risk Wang</span>
<div class="contact-details">
	<p>Front-End Developer</p>
	<p>
		<b>Email : </b>rwang@thoughtworks.com
	</p>
	<p>
		<b>Phone : </b>13426399993
	</p>
</div>