<% layout('/layout/layout.ejs') %>

<h1>Create your daily notes</h1>
<form class="form" method="post" action="/update">
	<label for="post-title">
		<b>Title : </b>
		<input name="title" type="text" id="post-title" />
	</label>
	<div class="clear"></div>
	<textarea class="textarea" name="post-content"></textarea>
	<div class="clear"></div>
	<input type="submit" id="submit-form" />
</form>