extends ../layout/layout

block content
  .sub-nav
    a(href='/',class='back') <- Back Home 

  .view-content
    dl.show-content(data-id='#{id}')
      dt.sub-title 
        b Title : 
        span #{subTitle}
      dd.sub-content 
        b Note : 
        span #{subContent} 

    .clear
    input(type='button',id='edit-button',value='edit') 
    input(type='button',id='delete-button',value='delete')
    
  form.form.hide(method='post',action='/update/id/#{id}')  
    label(for='post-title')
      b Title :   
      input(name='title',type='text',id='post-title')
    .clear  
    textarea.textarea(id='post-content',name='post-content')
    .clear
    input(type='button',id='cancel-button',value='Cancel') 
    input(type='submit',id='submit-form') 

block append scripts
  script(type="text/javascript",src='/js/view.js')