extends layout

block content
  h1 Create your daily note
  form.form(method='post',action='/update')
    label(for='post-title')
      | Title:   
      input(name='title',type='text',id='post-title', value='')
    .clear  
    textarea.textarea(name='post-content')
    .clear
    input(type='submit',id='submit-form')
