include UICompontents

.show-header
  h1.title Keep Thinking
  span.description Pain past is pleaseure
    mixin input('button','edit-header-btn','edit')
.edit-header
  h1.title Keep Thinking
  span.edit 
    mixin input('text','text-header','pain past is pleaseure')
    mixin input('text','change-header-btn','change')
    mixin input('text','cancel-header-btn','cancel')
ul.nav
  li
    a(href='/') Home
  li
    a(href='/create') Create Note
  li
    a(href='/about') About

block append scripts
  
  